<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.easylite.orm"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16" />

	<application>
        <meta-data android:name="DATABASE" android:value="app.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="MODEL_PACKAGE_NAME" android:value="com.easylite.model" />
    </application>
</manifest>